<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="parallel" value="75"/>
    <arg value="np"/>
    <arg value="s"/>

    <file>src/</file>

    <rule ref="Doctrine">
        <exclude name="Generic.Formatting.MultipleStatementAlignment.NotSame"/>
        <exclude name="PSR12.Files.OpenTag.NotAlone"/>
<!--        <exclude name="Squiz.Commenting.FunctionComment.SpacingAfterParamType"/>-->
<!--        <exclude name="Squiz.Commenting.FunctionComment.SpacingAfterParamName"/>-->
        <exclude name="Squiz.WhiteSpace.ScopeClosingBrace.ContentBefore"/>
    </rule>
    <rule ref="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly">
        <properties>
            <property name="allowFallbackGlobalConstants" value="true"/>
            <property name="allowFallbackGlobalFunctions" value="true"/>
            <property name="allowFullyQualifiedGlobalClasses" value="true"/>
            <property name="allowFullyQualifiedGlobalConstants" value="true"/>
            <property name="allowFullyQualifiedGlobalFunctions" value="true"/>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes">
        <properties>
            <property name="declareOnFirstLine" value="true"/>
            <property name="linesCountBeforeDeclare" value="0"/>
        </properties>
    </rule>
</ruleset>
